    .navbar {
        font-size: 20px;
        line-height:60px;
    }
    .nav-item {
        padding: 20px;
    }
    .jumbotron {
        font-size: 20px;
    }
    #code {
      font-family: "Lucida Console", "Courier New", monospace;  
    }
    h1 {
        text-align: center;
    }
    #projects {
        background-color: #f8fce8;
        font-size: 20px;
    }
    #contact {
        background-color: #e8faf9;    
    }
    #mailform {
        font-size: 30px;
    }    
    input {
        padding: 5px;
        margin-bottom: 20px;
        margin-right: 20px;
        border: 0;
        border-bottom: 1px solid black;
        width: 100%;
    }    
    textarea {
        padding: 5px;
        border: 1px solid black;        
        width: 100%
    }
    button {
        border-radius: 5px;
        padding: 5px 10px;
        margin-top: 10px;        
        border: 1px solid black;
        transition: .3s;
    }
    footer {
        background-color: #e3f2fd;;
        padding: 25px;
    }    